//
// Jason Liu Layout for Corne 3
// https://github.com/jasoneliu/zmk-config/blob/main/config/corne.keymap
//
// kagoromo
// https://github.com/kagoromo/zmk-config/blob/main/config/base.keymap
//

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <behaviors/num_word.dtsi>

// Vars
#define XXX &none
#define ___ &trans

// Layer Definitions
#define QWERTY 0
#define COLEMAK 1
#define GAMING 2
#define RARE 3
#define NAV 4
#define WM 5
#define MEDIA 6
#define NUM 7

#define COMBO_PRIOR_IDLE 50
#define COMBO_TIMEOUT_MS 35

// Functions
#define COMBO(NAME, BINDINGS, KEYPOS, IDLE, MS) \
    combo_##NAME { \
        bindings = <BINDINGS>; \
        key-positions = <KEYPOS>; \
        require-prior-idle-ms = <IDLE>; \
        timeout-ms = <MS>; \
    };

// Behavior configuration
&lt {
    tapping-term-ms = <200>;
    quick_tap_ms = <0>;
    flavor = "tap-preferred";
};

&mt {
    tapping-term-ms = <200>;
    quick_tap_ms = <0>;
    flavor = "tap-preferred";
};

&sk {
    release-after-ms = <500>;
    quick-release;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS BACKSPACE DELETE>;
};

&num_word {
    continue-list = <BSPC DEL DOT COMMA PLUS MINUS FSLH BSLH EQUAL UNDERSCORE COLON>;
    ignore-modifiers;
};

&mmv {
    time-to-max-speed-ms = <50>;
};

&msc {
    acceleration-exponent = <1>;
};

// Keymap configuration (Colemak-DHm)
/ {
    combos {
        compatible = "zmk,combos";
        COMBO(lout, &mo RARE,       1 2,  COMBO_PRIOR_IDLE, COMBO_TIMEOUT_MS)
        COMBO(lpar, &kp LPAR,       3 4,  COMBO_PRIOR_IDLE, COMBO_TIMEOUT_MS)
        COMBO(rpar, &kp RPAR,       7 8,  COMBO_PRIOR_IDLE, COMBO_TIMEOUT_MS)
        COMBO(lbkt, &kp LBKT,       2 3,  COMBO_PRIOR_IDLE, COMBO_TIMEOUT_MS)
        COMBO(rbkt, &kp RBKT,       8 9,  COMBO_PRIOR_IDLE, COMBO_TIMEOUT_MS)
        COMBO(lbrc, &kp LBRC,       2 4,  COMBO_PRIOR_IDLE, COMBO_TIMEOUT_MS)
        COMBO(rbrc, &kp RBRC,       7 9,  COMBO_PRIOR_IDLE, COMBO_TIMEOUT_MS)
        COMBO(nwrd, &num_word NUM, 13 14, COMBO_PRIOR_IDLE, COMBO_TIMEOUT_MS)
        COMBO(caps, &caps_word,    21 22, COMBO_PRIOR_IDLE, COMBO_TIMEOUT_MS)
        COMBO(lang, &kp LG(SPACE), 37 40, COMBO_PRIOR_IDLE, COMBO_TIMEOUT_MS)
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
// │            │ Q          │ W          │ E          │ R          │ T          │   │ Y          │ U          │ I          │ O          │ P          │            │
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// │            │ A/LGUI     │ S/LALT     │ D/LCTRL    │ F/LSHFT    │ G          │   │ H          │ J/LSHFT    │ K/LCTRL    │ L/LALT     │ ;/LGUI     │            │
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// │            │ Z          │ X          │ C          │ V          │ B          │   │ N          │ M          │ ,          │ .          │ /          │            │
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
//                                        │ ESC/MEDIA  │ SPACE/NAV  │ TAB/WM     │   │ ENTER      │ BSPC/NUM   │ DEL        │
//                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
            bindings = <
___   &kp Q        &kp W        &kp E           &kp R           &kp T                  &kp Y       &kp U            &kp I         &kp O        &kp P           ___
___   &mt LGUI A   &mt LALT S   &mt LCTRL D     &mt LSHFT F     &kp G                  &kp H       &mt LSHFT J      &mt LCTRL K   &mt LALT L   &mt LGUI SEMI   ___
___   &kp Z        &kp X        &kp C           &kp V           &kp B                  &kp N       &kp M            &kp COMMA     &kp DOT      &kp FSLH        ___
                                &lt MEDIA ESC   &lt NAV SPACE   &lt WM TAB             &kp ENTER   &lt NUM BSPC     &kp DEL
            >;
        };

        colemak {
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
// │            │ Q          │ W          │ F          │ P          │ B          │   │ J          │ L          │ U          │ Y          │ '          │            │
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// │            │ A/LGUI     │ R/LALT     │ S/LCTRL    │ T/LSHFT    │ G          │   │ M          │ N/LSHFT    │ E/LCTRL    │ I/LALT     │ O/LGUI     │            │
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// │            │ Z          │ X          │ C          │ D          │ V          │   │ K          │ H          │ ,          │ .          │ /          │            │
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
//                                        │ ESC/MEDIA  │ SPACE/NAV  │ TAB/WM     │   │ ENTER      │ BSPC/NUM   │ DEL        │
//                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
            bindings = <
___   &kp Q        &kp W        &kp F           &kp P           &kp B                  &kp J       &kp L          &kp U         &kp Y        &kp SQT      ___
___   &mt LGUI A   &mt LALT R   &mt LCTRL S     &mt LSHFT T     &kp G                  &kp M       &mt LSHFT N    &mt LCTRL E   &mt LALT I   &mt LGUI O   ___
___   &kp Z        &kp X        &kp C           &kp D           &kp V                  &kp K       &kp H          &kp COMMA     &kp DOT      &kp FSLH     ___
                                &lt MEDIA ESC   &lt NAV SPACE   &lt WM TAB             &kp ENTER   &lt NUM BSPC   &kp DEL
            >;
        };

        gaming {
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
// │            │ Q          │ W          │ E          │ R          │ T          │   │ Y          │ U          │ I          │ O          │ P          │            │
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// │            │ A          │ S          │ D          │ F          │ G          │   │ H          │ J          │ K          │ L          │ ;          │            │
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// │            │ Z          │ X          │ C          │ V          │ B          │   │ N          │ M          │ ,          │ .          │ /          │            │
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
//                                        │ ESC        │ SPACE      │ TAB        │   │ ENTER      │ BSPC       │ DEL        │
//                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
            bindings = <
___   &kp Q   &kp W   &kp E     &kp R       &kp T                                      &kp Y       &kp U      &kp I       &kp O     &kp P      ___
___   &kp A   &kp S   &kp D     &kp F       &kp G                                      &kp H       &kp J      &kp K       &kp L     &kp SEMI   ___
___   &kp Z   &kp X   &kp C     &kp V       &kp B                                      &kp N       &kp M      &kp COMMA   &kp DOT   &kp FSLH   ___
                      &kp ESC   &kp SPACE   &kp TAB                                    &kp ENTER   &kp BSPC   &kp DEL
            >;
        };

        rare {
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
// │            │ HELD-COMBO │ HELD-COMBO │ SLCK       │ PAUSE      │ BOOTLOAD   │   │ BOOTLOAD   │ SCRL_DOWN  │ MOVE_UP    │ SCRL_UP    │ EP_ON      │            │
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// │            │            │            │            │            │ RESET      │   │ RESET      │ MOVE_LEFT  │ MOVE_DOWN  │ MOVE_RIGHT │ EP_OFF     │            │
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// │            │            │            │            │            │ OUT_BLE    │   │            │ LCLK       │ MCLK       │ RCLK       │            │            │
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
//                                        │            │            │            │   │ GAMING     │ QWERTY     │ COLEMAK    │
//                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
            bindings = <
___   ___   ___   &kp SLCK   &kp PAUSE_BREAK   &bootloader                             &bootloader   &msc SCRL_DOWN   &mmv MOVE_UP     &msc SCRL_UP      &ext_power EP_ON    ___
___   ___   ___   ___        ___               &sys_reset                              &sys_reset    &mmv MOVE_LEFT   &mmv MOVE_DOWN   &mmv MOVE_RIGHT   &ext_power EP_OFF   ___
___   ___   ___   ___        ___               &out OUT_BLE                            ___           &mkp LCLK        &mkp MCLK        &mkp RCLK         ___                 ___
                  ___        ___               ___                                     &to GAMING    &to QWERTY       &to COLEMAK
            >;
        };

        navigation {
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
// │            │ UNDO       │ PASTE      │ COPY       │ CUT        │ REDO       │   │ CAPS       │ PGDN       │ UP         │ PGUP       │ CPS_WRD    │            │
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// │            │ LGUI       │ LALT       │ LCTRL      │ LSHFT      │ PSCRN      │   │ HOME       │ LEFT       │ DOWN       │ RIGHT      │ END        │            │
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// │            │            │            │ DEL        │ ENTER      │ BSPC       │   │ INS        │            │            │            │            │            │
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
//                                        │            │ HELD       │            │   │ ENTER      │ BSPC       │ DEL        │
//                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
            bindings = <
___   &kp LC(Z)   &kp LC(V)   &kp LC(C)   &kp LC(X)   &kp LC(Y)                        &kp CAPSLOCK   &kp PG_DN   &kp UP     &kp PG_UP   &caps_word   ___
___   &kp LGUI    &kp LALT    &kp LCTRL   &kp LSHFT   &kp PSCRN                        &kp HOME       &kp LEFT    &kp DOWN   &kp RIGHT   &kp END      ___
___   ___         ___         &kp DEL     &kp ENTER   &kp BSPC                         &kp INS        ___         ___        ___         ___          ___
                              ___         ___         ___                              &kp ENTER      &kp BSPC    &kp DEL
            >;
        };

        wm {
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
// │            │            │ WINQ       │ WINW       │ WINE       │ WINR       │   │            │            │            │            │            │            │
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// │            │ WINA       │ WIN1       │ WIN2       │ WIN3       │ WINF       │   │            │ LSHFT      │ LCTRL      │ LALT       │ LGUI       │            │
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// │            │ WINX       │ WIN4       │ WIN5       │ WIN6       │            │   │            │            │            │            │            │            │
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
//                                        │            │            │ HELD       │   │            │            │            │
//                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
            bindings = <
___   ___         &kp LG(Q)    &kp LG(W)    &kp LG(E)    &kp LG(R)                     ___   ___         ___         ___        ___        ___
___   &kp LG(A)   &kp LG(N1)   &kp LG(N2)   &kp LG(N3)   &kp LG(F)                     ___   &kp LSHFT   &kp LCTRL   &kp LALT   &kp LGUI   ___
___   &kp LG(X)   &kp LG(N4)   &kp LG(N5)   &kp LG(N6)   ___                           ___   ___         ___         ___        ___        ___
                               ___          ___          ___                           ___   ___         ___
            >;
        };

        media {
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
// │            │            │ MCLK       │            │            │ BR_UP      │   │ VOL_UP     │ F7         │ F8         │ F9         │ F10        │            │
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// │            │ LGUI       │ LALT       │ LCTRL      │ LSHFT      │ BR_DN      │   │ VOL_DN     │ F4         │ F5         │ F6         │ F11        │            │
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// │            │ BT_0       │ BT_1       │ BT_2       │ BT_3       │ BT_CLR     │   │ MUTE       │ F1         │ F2         │ F3         │ F12        │            │
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
//                                        │ HELD       │            │            │   │ PREV       │ PLAY/PAUSE │ NEXT       │
//                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
            bindings = <
___   ___            &mkp MCLK      ___            ___            &kp C_BRI_UP         &kp C_VOL_UP   &kp F7     &kp F8       &kp F9   &kp F10   ___
___   &kp LGUI       &kp LALT       &kp LCTRL      &kp LSHFT      &kp C_BRI_DN         &kp C_VOL_DN   &kp F4     &kp F5       &kp F6   &kp F11   ___
___   &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_CLR           &kp C_MUTE     &kp F1     &kp F2       &kp F3   &kp F12   ___
                                    ___            ___            ___                  &kp C_PREV     &kp C_PP   &kp C_NEXT
            >;
        };

        numbers {
// ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
// │            │ [          │ 7          │ 8          │ 9          │ ]          │   │            │            │            │            │            │            │
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// │            │ '          │ 4          │ 5          │ 6          │ =          │   │            │ LSHFT      │ LCTRL      │ LALT       │ LGUI       │            │
// ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
// │            │ `          │ 1          │ 2          │ 3          │ \          │   │            │ REPEAT     │            │            │            │            │
// ╰────────────┴────────────┴────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┴────────────┴────────────╯
//                                        │ .          │ 0          │ -          │   │            │ HELD       │ ESC        │
//                                        ╰────────────┴────────────┴────────────╯   ╰────────────┴────────────┴────────────╯
            bindings = <
___   &kp LBKT    &kp N7   &kp N8    &kp N9   &kp RBKT                                 ___   ___           ___         ___        ___        ___
___   &kp SQT     &kp N4   &kp N5    &kp N6   &kp EQUAL                                ___   &kp LSHFT     &kp LCTRL   &kp LALT   &kp LGUI   ___
___   &kp GRAVE   &kp N1   &kp N2    &kp N3   &kp BSLH                                 ___   &key_repeat   ___         ___        ___        ___
                           &kp DOT   &kp N0   &kp MINUS                                ___   ___           &kp ESC
            >;
        };

    };
};
